{% extends "pyfeck/base.html" %}

{% block head_title %}
{{ character.name}}
{% endblock %}

{% block content %}
{% load verbose_names %}
<div class="panel panel-default">
<div class="panel-heading">
    <div class="row">
        <div class="col-md-3">
<img src="{{character_image_static_path}}{{character.image_static}}" class="img-responsive" alt="{{character.name}}"/>
<h1>{{ character.name}} <small>{{character.get_generation_display}}</small></h1>
            </div>
        <div class="col-md-4">
            <p>{% get_verbose_field_name character 'baseLevel' %} <span class="badge">{{character.baseLevel}}</span></p>
            <p>
<div class="btn-group" data-toggle="buttons">
      {% ifequal character.primaryClass.id selectedClassId %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="primaryClass" autocomplete="on" checked>
      {% else %}
        <label class="btn btn-primary">
      <input type="radio" name="options" id="primaryClass" autocomplete="on">
      {% endifequal %}
          {{character.primaryClass.category.name}}<span class="badge">1</span>
        </label>
      {% ifequal character.secondaryClass.id selectedClassId %}
        <label class="btn btn-primary active">
        <input type="radio" name="options" id="secondaryClass" autocomplete="on" checked>
      {% else %}
        <label class="btn btn-primary">
        <input type="radio" name="options" id="secondaryClass" autocomplete="on">
      {% endifequal %}
      {{character.secondaryClass.category.name}}<span class="badge">2</span>
    </label>
</div>
</p>
<p>{{character.gender.name}}</p>
<p><strong>{% get_verbose_field_name character 'skillName' %}:{{character.skillName}}</strong> &nbsp; {{character.skillDescription}}</p>
{% if characterWeapons %}
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">{{character.name}}'s Weapons</h4>
    {% for characterWeapon in characterWeapons %}
        <p class="list-group-item-text">
        <a href="{% url 'pyfeck:weapon' characterWeapon.classWeapon.weapon.id %}">
            <img src="{{weapon_image_static_path}}{{characterWeapon.classWeapon.weapon.image_static}}" alt="{{characterWeapon.classWeapon.weapon.name}}"/>
        </a>Max Rank:
        <span class="badge badge-default right-block">{{characterWeapon.classWeapon.max_weapon_rank.name}}</span>
        Base Rank:
        <span class="badge badge-default right-block">{{characterWeapon.base_weapon_rank.name}}</span>
        </p>

    {% endfor %}
  </a>
{% else %}
    <p>Weaponless character.</p>
{% endif %}


        </div>
</div>
</div>
{%if characterStats%}
            <table class="table">
                <thead>
                    <tr>
                    <td class="active"><h4>{% get_verbose_field_name statCategory "name" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "base" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "growth" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "cap_modifier" %}</h4></td>
                    </tr>
                </thead>
                <tbody>
                {% for statCategory in statCategories %}
                    <tr>
                        <td>{{statCategory.statName}}</td>
                        <td>{{statCategory.base}}</td>
                        <td>{{statCategory.growth}}</td>
                        <td>{{statCategory.capModifier}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{%else%}
<p>No stats for this character.</p>
{%endif %}
</div>
{% endblock %}
