{% extends "pyfeck/base.html" %}

{% block head_title %}
{{ character.name}}
{% endblock %}
{% block page_specific %}
        {%load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{%static 'slider/css/bootstrap-slider.min.css'%}"/>
    <script src="{% static 'slider/js/bootstrap-slider.js' %}"></script>
<script src="{% static 'pyfeck/js/character.js'%}"></script>
{% endblock %}
{% block content %}
{% load verbose_names %}
<div class="panel panel-default">
<div class="panel-heading">
    <div class="row">
        <div class="col-md-2">
            <img src="{{character_image_static_path}}{{character.image_static}}" class="img-responsive img-circle" alt="{{character.name}}"/>
        </div>
        <div class="col-md-4">
            <h3>{{ character.name}} <small>{{character.get_generation_display}}</small></h3>
            <p>{{character.gender.name}}</p>
            <p>{% get_verbose_field_name character 'baseLevel' %} &nbsp; <span class="badge badge-default">{{ character.baseLevel }}</span></p>
            <p  class="deep-space">Current Level:</p>
            <p><input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="{{ character.baseLevel }}" data-slider-max="{{ character.maxLevel }}" data-slider-step="1" data-slider-value="{{ selectedLevel }}"/></p>
        </div>
        <div class="col-md-6">
<div class="btn-group" data-toggle="buttons">
      {% ifequal character.primaryClass.id selectedClassId %}
        <label class="btn btn-primary active" id="primaryClass_l">
            <input type="radio" name="options" id="op_Class_primary" autocomplete="off" value="{{ character.primaryClass.id }}" checked>
      {% else %}
        <label class="btn btn-primary"  id="primaryClass_l">
      <input type="radio" name="options" id="op_Class_primary" autocomplete="off"  value="{{ character.primaryClass.id }}">
      {% endifequal %}
          {{character.primaryClass.category.name}}&nbsp;<span class="badge badge-default">{{ character.primaryClass.tier }}</span>&nbsp;<span class="label label-warning">Primary</span>
        </label>
      {% ifequal character.secondaryClass.id selectedClassId %}
        <label class="btn btn-primary active"  id="secondaryClass_l">
        <input type="radio" name="options" id="op_Class_secondary" autocomplete="off"  value="{{ character.secondaryClass.id }}" checked>
      {% else %}
        <label class="btn btn-primary" id="secondaryClass_l">
        <input type="radio" name="options" id="op_Class_secondary" autocomplete="off" value="{{ character.secondaryClass.id }}">
      {% endifequal %}
      {{character.secondaryClass.category.name}}&nbsp;<span class="badge badge-default">{{ character.secondaryClass.tier }}</span>&nbsp;<span class="label label-default">Secondary</span>
    </label>
</div>
</p>
<p><strong>{% get_verbose_field_name character 'skillName' %}:{{character.skillName}}</strong> &nbsp; {{character.skillDescription}}</p>
{% if classSkills %}

    {% for classSkill in classSkills %}
        <p><strong>Class Skill:{{classSkill.name}}</strong> &nbsp; {{classSkill.description}} Minimum Level: {{classSkill.minLevel}}</p>

    {% endfor %}
{% endif %}
{% if characterWeapons %}
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">{{character.name}}'s Weapons</h4>
    {% for characterWeapon in characterWeapons %}
        <p class="list-group-item-text">
        <a href="{% url 'pyfeck:weapon' characterWeapon.classWeapon.weapon.id %}">
            <img src="{{weapon_image_static_path}}{{characterWeapon.classWeapon.weapon.image_static}}" alt="{{characterWeapon.classWeapon.weapon.name}}"/>
        </a>Max Rank:
        <span class="badge badge-default right-block">{{characterWeapon.classWeapon.max_weapon_rank.name}}</span>
        Base Rank:
        <span class="badge badge-default right-block">{{characterWeapon.base_weapon_rank.name}}</span>
        </p>

    {% endfor %}
  </a>
{% else %}
    <p>Weaponless character.</p>
{% endif %}


        </div>
</div>
</div>
{%if statCategories%}
            <table class="table">
                <thead>
                    <tr>
                    <td class="active" rowspan="2"><h4>{% get_verbose_field_name statCategory "name" %}</h4></td>
                    <td class="active" colspan="3"><h4>From Character</h4></td>
                    <td class="active" colspan="3"><h4>From Class</h4></td>
                    </tr>
                    <tr>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "base" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "growth" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name characterStat "cap_modifier" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name classStat "growth" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name classStat "cap" %}</h4></td>
                    <td class="active"><h4>{% get_verbose_field_name classStat "guardStanceBonus" %}</h4></td>
                    </tr>
                </thead>
                <tbody>
                {% for statCategory in statCategories %}
                    <tr>
                        <td>{{statCategory.statName}}</td>
                        <td>{{statCategory.base}}</td>
                        <td>{{statCategory.character_growth}}</td>
                        <td>{{statCategory.character_capModifier}}</td>
                        <td>{{statCategory.class_growth}}</td>
                        <td>{{statCategory.class_cap}}</td>
                        <td>{{statCategory.guardStanceBonus}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{%else%}
<p>No stats for this character.</p>
{%endif %}
</div>
{% endblock %}

{% block footer %}
<script type="application/javascript">

$(document).on('slideStop','#ex8', function(evtStop){
    characterUrl="{% url 'pyfeck:character' character.id character.primaryClass.id 9999%}".replace("9999",evtStop.value);
    navigateToUrl(characterUrl, evtStop.target,"myModalBody");
})

$(document).on('click','#secondaryClass_l', function(event){
    characterUrl="{% url 'pyfeck:character' character.id 9999 selectedLevel%}".replace("9999",$("#op_Class_secondary").val());
    navigateToUrl(characterUrl, window.document.getElementById("op_Class_secondary"),"myModalBody");
})

$(document).on('click','#primaryClass_l', function(event){

    characterUrl="{% url 'pyfeck:character' character.id 9999 selectedLevel%}".replace("9999",$("#op_Class_primary").val());
    navigateToUrl(characterUrl, window.document.getElementById("op_Class_primary"),"myModalBody");
})

</script>
{% endblock %}
