{% extends "pyfeck/base.html" %}

{% block head_title %}
All Characters
{% endblock %}

{% block content %}
{% if all_characters %}
    <ul class="list-inline">
    {% for character in all_characters %}
        <li>
            <div class="thumbnail">
            <img src="{{character_image_static_path}}{{character.image_static}}" class="img-responsive", alt="{{character.name}}"/>
                <div class="caption">
                    <h3><a href="{% url 'pyfeck:character' character.id character.primaryClass.id%}">{{ character.name }}</a></h3>
                    <p>{{character.gender.name}} <a href="{% url 'pyfeck:class' character.primaryClass.id %}">{{character.primaryClass.category.name}}</a></p>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No characters are available.</p>
{% endif %}
{% endblock %}